<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="integration" name="com.kms.katalon.execution" schema="schema/integration.exsd"/>
   <extension-point id="runConfiguration" name="com.kms.katalon.execution.configuration" schema="schema/runConfiguration.exsd"/>
   <extension-point id="driverConnector" name="com.kms.katalon.execution.driver.connector" schema="schema/driverConnector.exsd"/>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      
      <initializer
            class="com.kms.katalon.execution.preferences.MailPreferenceDefaultValueInitializer">
      </initializer>
      
      <initializer
            class="com.kms.katalon.execution.preferences.ProxyPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
</plugin>
