<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="com.katalon.platform.extensions">
      <point
            extensionPointId="com.katalon.platform.api.extension.event"
            implementationClass="com.katalon.plugin.smart_xpath.SmartXpathEventListenerInitializer"
            id="thanhto.smartxpathplugin.SmartXPathEventListenerInitializer">
      </point>
   </extension>
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.katalon.plugin.smart_xpath.settings.SelfHealingSettingPage"
            id="com.katalon.composer.selfhealing"
            name="Self Healing">
      </page>      
      <page
            category="com.katalon.composer.selfhealing"
            class="com.katalon.plugin.smart_xpath.settings.SelfHealingExecutionSettingPage"
            id="com.katalon.composer.selfhealing.execution"
            name="Execution">
      </page>
   </extension>
   <extension
         point="com.katalon.platform.extensions">
      <point
            extensionPointId="com.katalon.platform.api.extension.newDropdownToolItem"
            implementationClass="com.katalon.plugin.smart_xpath.SmartXPathToolItemWithMenuDescription"
            id="thanhto.smartxpathplugin.SmartXPathToolItemWithMenu">
      </point>
   </extension>
   <extension
         point="com.katalon.platform.extensions">
      <point
            extensionPointId="com.katalon.platform.api.extension.pluginActivationListener"
            implementationClass="com.katalon.plugin.smart_xpath.SmartXPathPluginActivationListener"
            id="thanhto.smartxpathplugin.SmartXPathPluginActivationListener">
      </point>
   </extension>
   <extension
         id="com.katalon.katalon-studio-smart-xpath.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
