<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.kms.katalon.composer.webservice.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.kms.katalon.composer.webservice.settings.NetworkSettingPage"
            id="com.kms.katalon.composer.webservice.network"
            name="Network">
      </page>
       <page
           category="com.kms.katalon.composer.webui.setting.testdesign"
           class="com.kms.katalon.composer.webservice.settings.WebServiceMethodSettingPage"
           id="com.kms.katalon.composer.webui.setting.testdesign.webservicemethod"
           name="API/Web Service Method">
     </page>
     <page
            class="com.kms.katalon.composer.webservice.settings.SSLSettingPage"
            id="com.kms.katalon.composer.webservice.ssl"
            name="SSL Settings">
      </page>
   </extension>
   <extension
         point="com.kms.katalon.composer.execution.tetSuiteExecutionItem">
      <client
            item="com.kms.katalon.composer.webservice.execution.WebServiceExecutionGroup">
      </client>
   </extension>
</plugin>
