bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/

# Eclipse
.settings
workspace/

# Mac Metadata Files
.DS_Store
.metadata/
.recommenders/
.e4css/
source/com.kms.katalon.composer.webui.recorder/resources/extensions/Chrome/Recorder/server.js

# Build Mapping Files
source/com.kms.katalon/buildNumber.properties
source/com.kms.katalon/about.mappings

# Visual Studio Build Files
source/com.kms.katalon.composer.webui.objectspy/extensions/IE/ObjectSpyExtension/ObjectSpyExtension/obj/*
source/com.kms.katalon.composer.webui.objectspy/extensions/IE/ObjectSpyExtension/Setup/Debug/*
source/com.kms.katalon.composer.webui.objectspy/extensions/IE/ObjectSpyExtension/Setup/Release/*
source/com.kms.katalon.composer.webui.recorder/extensions/IE/RecorderExtension/RecorderExtension/obj/*
source/com.kms.katalon.composer.webui.recorder/extensions/IE/RecorderExtension/RecorderExtension/Setup/Debug/*
source/com.kms.katalon.composer.webui.recorder/extensions/IE/RecorderExtension/RecorderExtension/Setup/Release/*
source/com.kms.katalon.composer.webui.recorder/extensions/IE/RecorderExtension/Setup/Release/Setup.msi
source/com.kms.katalon.composer.webui.recorder/extensions/IE/RecorderExtension/Setup/Release/setup.exe
source/com.kms.katalon.composer.webui.recorder/extensions/IE/RecorderExtension/Setup/Release.7z
