<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.kms.katalon.composer.integration.kobiton.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension
         point="com.kms.katalon.preferences.PreferencePages">
      <page
            category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
            class="com.kms.katalon.composer.integration.kobiton.preferences.KobitonPreferencesPage"
            id="com.kms.katalon.composer.integration.kobiton.preferences"
            name="Kobiton">
      </page>
   </extension>
   <extension
         point="com.kms.katalon.composer.mobile.mobileDriverIntegration">
          <client
                executionProvider="com.kms.katalon.composer.integration.kobiton.testsuite.KobitonIntegrationProvider">
      </client>
   </extension>
</plugin>
