<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.kms.katalon.composer.keyword.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.kms.katalon.composer.keyword.refactoring.KeywordMethodRenamingParticipant"
            id="com.kms.katalon.composer.keyword.renameKeywordMethodParticipant"
            name="KatalonRenameMethodRefactoring">
         <enablement>
	         <with variable="affectedNatures">
	             <iterate operator="or">
	               <equals value="org.eclipse.jdt.groovy.core.groovyNature"/>
	             </iterate>
	           </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IMethod">
               </instanceof>
            </with></enablement>
      </renameParticipant>
      <renameParticipant
            class="com.kms.katalon.composer.keyword.refactoring.KeywordClassRenamingParticipant"
            id="com.kms.katalon.composer.keyword.renameKeywordClassParticipant"
            name="KatalonRenameClassRefactoring">
         <enablement>
	         <with variable="affectedNatures">
	             <iterate operator="or">
	               <equals value="org.eclipse.jdt.groovy.core.groovyNature"/>
	             </iterate>
	           </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.ICompilationUnit">
               </instanceof>
            </with></enablement>
      </renameParticipant>
   </extension>
   <extension
         point="com.kms.katalon.composer.explorer.delete">
      <client
            handler="com.kms.katalon.composer.keyword.handlers.DeleteKeywordHandler">
      </client>
   </extension>
   <extension
         point="com.kms.katalon.composer.explorer.delete">
      <client
            handler="com.kms.katalon.composer.keyword.handlers.DeletePackageHandler">
      </client>
   </extension>

</plugin>
