<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <!--<extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            name="JIRA"
            category="com.kms.katalon.composer.preferences.integration"
            class="com.kms.katalon.composer.integration.jira.preference.JiraSettingPage"
            id="com.kms.katalon.composer.integration.jira.page">
      </page>
   </extension>-->
   <extension
         point="com.kms.katalon.composer.report.testCaseIntegration">
      <client
            view="com.kms.katalon.composer.integration.jira.report.JiraReportIntegrationBuilder"
            product="com.kms.katalon.integration.jira.JiraIntegrationContribution">
      </client>
   </extension>
   <extension
         id="com.kms.katalon.composer.integration.jira.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <!--<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.integration.jira.preference.JiraPreferenceInitializer">
      </initializer>
   </extension>-->
   <extension
         point="com.kms.katalon.composer.testcase.integration">
      <client
            product="com.kms.katalon.integration.jira.JiraIntegrationContribution"
            view="com.kms.katalon.composer.integration.jira.testcase.JiraTestCaseIntegrationViewBuilder">
      </client>
   </extension>

</plugin>
