<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalProvider">
      <proposalProvider
            name="Katalon Proposal Provider"
            proposalProvider="com.kms.katalon.composer.codeassist.KatalonProposalProvider">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalProvider>
   </extension>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalFilter">
      <proposalFilter
            name="Katalon Proposal Filter"
            proposalFilter="com.kms.katalon.composer.codeassist.KatalonProposalFilter">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalFilter>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
         <hover
            activate="true"
            class="com.kms.katalon.composer.codeassist.editor.ImprovedGroovyTextEditorHover"
            id="com.kms.katalon.composer.codeassist.editor"
            label="Katalon Information Hover">
      </hover>
   </extension>
   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="com.kms.katalon.proposal"
         name="Katalon Proposals">
      <proposalCategory icon="icons/logo_16.png"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
          id="com.kms.katalon.proposal.computer"
         name="Katalon Proposals">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="com.kms.katalon.proposal"
            class="com.kms.katalon.composer.codeassist.ImprovedGroovyCompletionProposalComputer">
         <partition
               type="__dftl_partition_content_type">
         </partition>
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
</plugin>
