<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalProvider">
      <proposalProvider
            name="Katalon Proposal Provider"
            proposalProvider="com.kms.katalon.composer.codeassist.KatalonProposalProvider">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalProvider>
   </extension>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalFilter">
      <proposalFilter
            name="Katalon Proposal Filter"
            proposalFilter="com.kms.katalon.composer.codeassist.KatalonProposalFilter">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalFilter>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
         <hover
            activate="true"
            class="com.kms.katalon.composer.codeassist.editor.ImprovedGroovyTextEditorHover"
            id="com.kms.katalon.composer.codeassist.editor"
            label="Katalon Information Hover">
      </hover>
   </extension>
   <extension
         id="model"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="com.kms.katalon.composer.codeassist.processor.GroovyTemplateProcessor">
      </processor>
   </extension>
</plugin>
