<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.kms.katalon.composer.webui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
      		category="com.kms.katalon.composer.execution.desiredcapabilities"
            class="com.kms.katalon.composer.webui.setting.WebUiSettingsPerferencePage"
            id="com.kms.katalon.composer.execution.settings.default.1"
            name="Web UI">
      </page>
      <page
            category="com.kms.katalon.composer.execution.settings.default.1"
            class="com.kms.katalon.composer.webui.setting.ChromePreferencePage"
            id="com.kms.katalon.composer.execution.settings.default.1.1"
            name="Chrome">
      </page>
      <page
            category="com.kms.katalon.composer.execution.settings.default.1"
            class="com.kms.katalon.composer.webui.setting.FirefoxPerferencePage"
            id="com.kms.katalon.composer.execution.settings.default.1.2"
            name="Firefox">
      </page>
       <page
            category="com.kms.katalon.composer.execution.settings.default.1"
            class="com.kms.katalon.composer.webui.setting.IEPerferencePage"
            id="com.kms.katalon.composer.execution.settings.default.1.3"
            name="IE">
      </page>
      <page
			 category="com.kms.katalon.composer.execution.settings.default.1"
			 class="com.kms.katalon.composer.webui.setting.SafariPreferencePage"
			 id="com.kms.katalon.composer.execution.settings.default.1.4"
			 name="Safari">
      </page>
      <page
            category="com.kms.katalon.composer.execution.settings.default.1"
            class="com.kms.katalon.composer.webui.setting.EdgePreferencePage"
            id="com.kms.katalon.composer.execution.settings.default.1.5"
            name="Edge">
      </page>
       <page
             category="com.kms.katalon.composer.execution.settings.default.1"
             class="com.kms.katalon.composer.webui.setting.HeadlessPreferencePage"
             id="com.kms.katalon.composer.execution.settings.default.1.6"
             name="Chrome (headless)">
       </page>
       <page
             category="com.kms.katalon.composer.execution.settings.default.1"
             class="com.kms.katalon.composer.webui.setting.FirefoxHeadlessPreferencePage"
             id="com.kms.katalon.composer.execution.settings.default.1.7"
             name="Firefox (headless)">
       </page>
       
       <page
            category="com.kms.katalon.composer.execution.desiredcapabilities"
            class="com.kms.katalon.composer.webui.setting.RemoteWebPreferencePage"
            id="com.kms.katalon.composer.execution.settings.default.4"
            name="Remote">
      </page>
   </extension>
	<extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.ChromeDriverEditorContributor">
		  </client>
	 </extension>
	 <extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.FirefoxDriverEditorContributor">
		  </client>
	 </extension>
	 <extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.IEDriverEditorContributor">
		  </client>
	 </extension>
	 <extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.SafariDriverEditorContributor">
		  </client>
	 </extension>
	 <extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.RemoteWebDriverEditorContributor">
		  </client>
	 </extension>
	 <extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.EdgeDriverEditorContributor">
		  </client>
	 </extension>
  <extension
        point="com.kms.katalon.composer.execution.driverConnectorEditor">
     <client
           driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.HeadlessDriverEditorContributor">
     </client>
  </extension>
  <extension
        point="com.kms.katalon.composer.execution.driverConnectorEditor">
     <client
           driver.connector.editor="com.kms.katalon.composer.webui.component.contributor.FirefoxHeadlessDriverEditorContributor">
     </client>
  </extension>
  <extension
        point="com.kms.katalon.composer.execution.tetSuiteExecutionItem">
     <client
           item="com.kms.katalon.composer.webui.execution.testsuite.WebDesktopExecutionGroup">
     </client>
  </extension>
  <extension
        point="com.kms.katalon.preferences.ProjectSettingPages">
     <page
           class="com.kms.katalon.composer.webui.setting.TestDesignPerferencePage"
           id="com.kms.katalon.composer.webui.setting.testdesign"
           name="Test Design">
     </page>
     <page
           category="com.kms.katalon.composer.webui.setting.testdesign"
           class="com.kms.katalon.composer.webui.setting.WebLocatorsPerferencePage"
           id="com.kms.katalon.composer.webui.setting.testdesign.1"
           name="Web Locators">
     </page>
     <page
           category="com.kms.katalon.composer.webui.setting.testdesign"
           class="com.kms.katalon.composer.testcase.preferences.TestCaseSettingPage"
           id="com.kms.katalon.composer.testcase.settings"
           name="Test Case">
     </page>
  </extension>
  <extension
       point="org.eclipse.core.runtime.preferences">
	    <initializer
	          class="com.kms.katalon.composer.webui.preferences.WebUiPreferenceDefaultValueInitializer">
	    </initializer>
 	</extension>
  <extension
         point="com.kms.katalon.preferences.PreferencePages">
      <page
            category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
            class="com.kms.katalon.composer.webui.preferences.WebUiPreferencePage"
            id="com.kms.katalon.composer.webui.preferences.WebUiPreferencePage"
            name="Web UI">
      </page>   
   </extension>
</plugin>
