<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="integration" name="com.kms.katalon.composer.testcase" schema="schema/integration.exsd"/>
   <extension
         id="com.kms.katalon.composer.testcase.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.kms.katalon.preferences.PreferencePages">
      <page
            category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
            class="com.kms.katalon.composer.testcase.preferences.TestCasePreferencePage"
            id="com.kms.katalon.composer.testcase.preference"
            name="Test Case">
      </page>
      <page
            category="com.kms.katalon.composer.testcase.preference"
            class="com.kms.katalon.composer.testcase.preferences.ManualPreferencePage"
            id="com.kms.katalon.composer.testcase.preference.manual"
            name="Manual Mode">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.testcase.preferences.TestCasePreferenceDefaultValueInitializer">
      </initializer>
      <initializer
            class="com.kms.katalon.composer.testcase.preferences.ManualPreferenceValueInitializer">
      </initializer>
   </extension>
   <extension
         point="com.kms.katalon.composer.explorer.delete">
      <client
            handler="com.kms.katalon.composer.testcase.handlers.DeleteTestCaseHandler">
      </client>
   </extension>
   <extension
         point="com.kms.katalon.composer.folder.delete">
      <client
            handler="com.kms.katalon.composer.testcase.handlers.DeleteTestCaseFolderHandler">
      </client>
   </extension>
   <extension point="org.eclipse.ui.menus">
	  <menuContribution locationURI="popup:#GroovyCompilationUnitEditorContext?before=undo">
 		<dynamic
          class="com.kms.katalon.composer.testcase.menu.ExecuteFromTestStepContributionItem"
          id="com.kms.katalon.composer.testcase.menu.ExecuteFromTestStepContributionItem">
	    </dynamic>
	  </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.kms.katalon.composer.testcase.editors.extensions.TestObjectsHyperlinkDetector"
            id="com.kms.katalon.composer.testcase.hyperlinkDetector1"
            name="ObjectRepository"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   
</plugin>
