<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.kms.katalon.execution.driverConnector">
      <client
            driver.connector="com.kms.katalon.execution.windows.WindowsDriverConnectorContributor">
      </client>
   </extension>
   <extension
         point="com.kms.katalon.execution.runConfiguration">
      <client
            configuration="com.kms.katalon.execution.windows.WindowsRunConfigurationContributor">
      </client>
   </extension>

</plugin>
