<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.kms.katalon.console.product"
            application="com.kms.katalon.console.application">
         <property
               name="appName"
               value="com.kms.katalon.console.product">
         </property>
         
         <property 
         		name="applicationXMI" 
         		value="com.kms.katalon.console/Application.e4xmi"> 
	     </property>
      </product>
   </extension>

   <extension
       id="application"
       name="Katalon Application"
       point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            visible="true">
         <run class="com.kms.katalon.console.application.Application">
         </run>
      </application>
   </extension>
</plugin>
