<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="mobileDriverIntegration" name="Mobile Driver Integration" schema="schema/mobileDriverIntegration.exsd"/>

   <extension
         id="com.kms.katalon.composer.mobile.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
	<extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
      		category="com.kms.katalon.composer.execution.desiredcapabilities"
            class="com.kms.katalon.composer.mobile.setting.MobilePreferencePage"
            id="com.kms.katalon.composer.execution.settings.default.2"
            name="Mobile">
      </page>
      <page
            category="com.kms.katalon.composer.execution.settings.default.2"
            class="com.kms.katalon.composer.mobile.setting.AndroidPreferencePage"
            id="com.kms.katalon.composer.execution.settings.default.2.1"
            name="Android">
      </page>
      <page
            category="com.kms.katalon.composer.execution.settings.default.2"
            class="com.kms.katalon.composer.mobile.setting.IosPreferencePage"
            id="com.kms.katalon.composer.execution.settings.default.2.2"
            name="iOS">
      </page>
   </extension>
	 <extension
	       point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
		        driver.connector.editor="com.kms.katalon.composer.mobile.component.contributor.AndroidDriverEditorContributor">
		  </client>
	 </extension>
	 <extension
	   point="com.kms.katalon.composer.execution.driverConnectorEditor">
		  <client
			driver.connector.editor="com.kms.katalon.composer.mobile.component.contributor.IosDriverEditorContributor">
		  </client>
	 </extension>
	 
	<extension
         point="com.kms.katalon.preferences.PreferencePages">
      <page
            category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
            class="com.kms.katalon.composer.mobile.preferences.MobileSettingPreferencePage"
            id="com.kms.katalon.composer.mobile"
            name="Mobile">
      </page>   
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.mobile.preferences.MobileSettingPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
   <extension
         point="com.kms.katalon.composer.execution.tetSuiteExecutionItem">
      <client
            item="com.kms.katalon.composer.mobile.execution.testsuite.MobileTestExecutionGroup">
      </client>
   </extension>
</plugin>
