<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="integration" name="com.kms.katalon.composer.testsuite" schema="schema/integration.exsd"/>

   <extension
         id="com.kms.katalon.composer.testsuite.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.kms.katalon.composer.explorer.delete">
      <client
            handler="com.kms.katalon.composer.testsuite.handlers.DeleteTestSuiteHandler">
      </client>
   </extension>

</plugin>
