<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="com.kms.katalon.execution.runConfiguration">
      <client
            configuration="com.kms.katalon.execution.mobile.configuration.contributor.AndroidRunConfigurationContributor">
      </client>
   </extension>
   <extension
         point="com.kms.katalon.execution.runConfiguration">
      <client
            configuration="com.kms.katalon.execution.mobile.configuration.contributor.IosRunConfigurationContributor">
      </client>
   </extension>
   <extension
         point="com.kms.katalon.execution.runConfiguration">
      <client
            configuration="com.kms.katalon.execution.mobile.configuration.contributor.MixedModeRunConfigurationContributor">
      </client>
   </extension>
</plugin>
