<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.kms.katalon.preferences.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.kms.katalon.composer.preferences.intergration.IntegrationPage"
            id="com.kms.katalon.composer.preferences.integration"
            name="Integration">
      </page>
   </extension>
</plugin>
