<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.kms.katalon.application"
            name="Katalon Studio">
         <property
               name="appName"
               value="Katalon Studio">
         </property>
         <property 
         		name="applicationXMI" 
         		value="com.kms.katalon/Application.e4xmi"> 
	     </property>
	     <property
           name="lifeCycleURI"
           value="bundleclass://com.kms.katalon/com.kms.katalon.core.application.LifeCycleManager">
         </property>
         <property
		    name="rendererFactoryUri"
		    value="bundleclass://com.kms.katalon/com.kms.katalon.composer.components.CustomWorkbenchRendererFactory">
		</property>
	   <property
               name="windowImages"
               value="icons/branding_16.png,icons/branding_32.png,icons/branding_48.png,icons/branding_64.png,icons/branding_128.png,icons/branding_256.png">
         </property>
         <property
               name="aboutImage"
               value="icons/branding_128.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>       
         <property
               name="startupForegroundColor"
               value="404040">
         </property>
         <property
               name="startupMessageRect"
               value="5,270,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,290,450,10">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.kms.katalon/css/default.css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

	<extension
       id="application"
       name="Katalon Application"
       point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            visible="true">
         <run class="com.kms.katalon.core.application.Application">
         </run>
      </application>
   </extension>
 <extension
       id="model"
       point="org.eclipse.e4.workbench.model">
    <processor
          apply="always"
          beforefragment="false"
          class="com.kms.katalon.processors.MenuProcessor">
    </processor>
    <processor
          apply="always"
          beforefragment="false"
          class="com.kms.katalon.processors.ToolbarProcessor">
    </processor>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="com.kms.katalon.composer.preferences.GeneralPreferenceDefaultValueInitializer">
    </initializer>
 </extension>
 <extension
       point="com.kms.katalon.preferences.PreferencePages">
    <page
          class="com.kms.katalon.composer.preferences.GeneralPreferencePage"
          id="com.kms.katalon.composer.preferences.GeneralPreferencePage"
          name="Katalon">
    </page>
    <page
          class="com.kms.katalon.composer.preferences.PluginPreferencePage"
          id="com.kms.katalon.composer.preferences.PluginPreferencePage"
          category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
          name="Plugins">
    </page>
 	</extension> 
 	<extension
	     point="org.eclipse.ui.contexts">
	  <context
	        id="katalonContext"
	        name="Katalon Context"
	        parentId="org.eclipse.ui.contexts.dialogAndWindow">
	  </context>
	</extension>
	<extension
	     point="org.eclipse.ui.handlers">
	  	<handler
	        class="com.kms.katalon.composer.handlers.PreferenceHandler"
	        commandId="org.eclipse.ui.window.preferences">
	     <activeWhen>
		    <with
		       variable="activeContexts">
		       <iterate
		          ifEmpty="false"
		          operator="or">
		       <equals
		           value="katalonContext">
		       </equals>
		       </iterate>
		    </with>
		 </activeWhen>
	  	</handler>
	  </extension>
	  
	<extension
	     point="org.eclipse.ui.handlers">
	  	<handler
	        class="com.kms.katalon.composer.handlers.AboutHandler"
	        commandId="org.eclipse.ui.help.aboutAction">
	     <activeWhen>
		    <with
		       variable="activeContexts">
		       <iterate
		          ifEmpty="false"
		          operator="or">
		       <equals
		           value="katalonContext">
		       </equals>
		       </iterate>
		    </with>
		 </activeWhen>
	  	</handler>
	</extension>
</plugin>
