<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="com.kms.katalon.composer.testsuite.collection.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.kms.katalon.composer.explorer.delete">
      <client
            handler="com.kms.katalon.composer.testsuite.collection.handler.DeleteTestSuiteCollectionHandler">
      </client>
   </extension>
   <extension
         point="com.kms.katalon.composer.folder.delete">
      <client
            handler="com.kms.katalon.composer.testsuite.collection.handler.DeleteTestSuiteFolderHandler">
      </client>
   </extension>

</plugin>
