<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="testCaseIntegration" name="com.kms.katalon.composer.report" schema="schema/testCaseIntegration.exsd"/>

   <extension
         id="com.kms.katalon.composer.report.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.kms.katalon.composer.explorer.delete">
      <client
            handler="com.kms.katalon.composer.report.handlers.DeleteReportHandler">
      </client>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.report.preference.ReportPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.kms.katalon.composer.report.preference.ReportSettingPage"
            id="com.kms.katalon.composer.report.setting"
            name="Report">
      </page>
   </extension>

</plugin>
