<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="driverConnectorEditor" name="com.kms.katalon.composer.execution.driver.connector.editor" schema="schema/driverConnectorEditor.exsd"/>

   <extension
         id="com.kms.katalon.execution.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.kms.katalon.composer.execution.debug.LaunchDelegate"
            id="com.kms.katalon.composer.execution.scriptLaunchConfiguration"
            modes="run, debug"
            name="Katalon"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>    
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.kms.katalon.composer.execution.debug.SourceLocator"
            id="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            name="Katalon Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.kms.katalon.composer.execution.debug.DebugBreakpointView"
            detailsViewerConfiguration="com.kms.katalon.composer.execution.debug.KatalonSourceViewerConfiguration"
            id="org.eclipse.jdt.debug">
      </debugModelPresentation>
   </extension> 
	<extension
         point="com.kms.katalon.preferences.PreferencePages">
      <page
            category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
            class="com.kms.katalon.composer.execution.preferences.ExecutionPreferencePage"
            id="com.kms.katalon.composer.execution"
            name="Execution">
      </page>
      <page
            class="com.kms.katalon.composer.execution.preferences.MailPreferencePage"
            id="com.kms.katalon.composer.execution.mail"
            category="com.kms.katalon.composer.execution"
            name="Email">
      </page>   
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.execution.preferences.ExecutionPreferenceDefaultValueInitializer">
      </initializer>
      
      <initializer
            class="com.kms.katalon.composer.execution.preferences.MailPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
   
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.kms.katalon.composer.execution.settings.ExecutionSettingPage"
            id="com.kms.katalon.composer.execution.settings"
            name="Execution">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.DefaultExecutionSettingPage"
            category="com.kms.katalon.composer.execution.settings"
            id="com.kms.katalon.composer.execution.settings.default"
            name="Default">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.CustomExecutionSettingPage"
            category="com.kms.katalon.composer.execution.settings"
            id="com.kms.katalon.composer.execution.settings.custom"
            name="Custom">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.ExternalLibratiesSettingPage"
            id="com.kms.katalon.composer.execution.externallib"
            name="External Libraries">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.eclipse.jdt.debug"
            delegateClass="com.kms.katalon.composer.execution.debug.WatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
</plugin>
