<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="driverConnectorEditor" name="Driver Connector" schema="schema/driverConnectorEditor.exsd"/>
   <extension-point id="tetSuiteExecutionItem" name="Execution Item" schema="schema/testSuiteExecutionItem.exsd"/>

   <extension
         id="com.kms.katalon.execution.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.kms.katalon.composer.execution.debug.LaunchDelegate"
            id="com.kms.katalon.composer.execution.scriptLaunchConfiguration"
            modes="run, debug"
            name="Katalon"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>    
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.kms.katalon.composer.execution.debug.SourceLocator"
            id="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            name="Katalon Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.kms.katalon.composer.execution.debug.DebugBreakpointView"
            detailsViewerConfiguration="com.kms.katalon.composer.execution.debug.KatalonSourceViewerConfiguration"
            id="org.eclipse.jdt.debug">
      </debugModelPresentation>
   </extension> 
   
   <extension point="com.kms.katalon.preferences.PreferencePages">
      <page
            category="com.kms.katalon.composer.preferences.GeneralPreferencePage"
            class="com.kms.katalon.composer.execution.preferences.ProxyConfigurationPreferencesPage"
            id="com.kms.katalon.composer.execution.proxy"
            name="Proxy">
      </page>
   </extension>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.execution.preferences.ComposerExecutionPreferenceDefaultValueInitializer">
      </initializer>
      <initializer
            class="com.kms.katalon.composer.execution.preferences.ComposerGenerateCommandPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
   
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.kms.katalon.composer.execution.settings.ExecutionSettingPage"
            id="com.kms.katalon.composer.execution.settings"
            name="Execution">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.CustomExecutionSettingPage"
            category="com.kms.katalon.composer.execution.desiredcapabilities"
            id="com.kms.katalon.composer.execution.settings.custom"
            name="Custom">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.ExternalLibratiesSettingPage"
            id="com.kms.katalon.composer.execution.externallib"
            name="External Libraries">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.MailSettingsPage"
            id="com.kms.katalon.composer.execution.mail"
            name="Email">
      </page>
      <page
            category="com.kms.katalon.composer.execution.mail"
            class="com.kms.katalon.composer.execution.settings.EmailTemplatePage"
            id="com.kms.katalon.composer.execution.page.emailTemplate"
            name="Template">
      </page>
      <page
            class="com.kms.katalon.composer.execution.settings.DesiredCapabilitiesSettingPage"
            id="com.kms.katalon.composer.execution.desiredcapabilities"
            name="Desired Capabilities">
      </page>   
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.eclipse.jdt.debug"
            delegateClass="com.kms.katalon.composer.execution.debug.WatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="com.kms.katalon.composer.execution.ConsoleColorProvider1"
            id="com.kms.katalon.composer.execution.consoleColorProvider1"
            processType="com.kms.katalon.composer.execution.consoleColorProvider1">
      </consoleColorProvider>
   </extension>
</plugin>
