<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.kms.katalon.execution.integration">
      <client
            product="com.kms.katalon.integration.jira.JiraIntegrationContribution"
            report="com.kms.katalon.integration.jira.report.JiraReportIntegration">
      </client>
   </extension>

</plugin>
