<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener class="com.kms.katalon.ansiconsole.listeners.HarLinkyConsolePatternMatchListenerDelegate" id="com.kms.katalon.ansiconsole.harLinkyConsolePatternMatchListener" regex="HAR:\s(.*)">
         <enablement />
      </consolePatternMatchListener>
   </extension>
   <extension point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener class="com.kms.katalon.ansiconsole.listeners.SmartXPathPatternMatchListenerDelegate" id="com.kms.katalon.ansiconsole.smartXPathLinkyConsolePatternMatchListener" regex="\[SMART_XPATH\]\sScreenshot:\s(.*)">
         <enablement />
      </consolePatternMatchListener>
   </extension>
</plugin>
