<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="com.kms.katalon.execution.integration">
      <client
            product="com.kms.katalon.integration.qtest.QTestIntegrationContribution"
            report="com.kms.katalon.integration.qtest.report.QTestIntegrationReporter">
      </client>
   </extension>

</plugin>
