/* Please notice that if you are going to change the color #F6F6F6 below, also need to change in ColorUtil.getExtraLightGrayBackgroundColor() */

/* ToolBar under menu */
.MTrimBar {
	background-color: #E8E8E8;
}

.MTrimmedWindow.topLevel { 
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Workspace area under ToolBar */
.MTrimmedWindow { 
    background-color: #E8E8E8;
}

/* All panels */
.MPart,
.MPartSashContainer #org-eclipse-ui-console-ConsoleView .MPart {
	background-color: #F6F6F6;
}

/** Keep ToolBar (min max ...) in panel out of messing up background color
 * Note: #bottom show syntax error because CSS editor validator. This is valid reference ID.
 */
.MPartSashContainer #left,
.MPartSashContainer #right,
.MPartSashContainer #bottom,
.MPartSashContainer #org-eclipse-ui-console-ConsoleView {
	background-color: #E8E8E8;
}

/* Fix Round corner, right under testcase tabs */
.MCompositePart {
	background-color: #F6F6F6;
}

/* For all tabs */
CTabFolder {
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	swt-tab-height: 24px;
    swt-tab-outline: #E8E8E8;
    swt-unselected-tabs-color: #E8E8E8;
    swt-selected-tab-fill: #F6F6F6;
    swt-selected-tabs-background: #F6F6F6;
    swt-outer-keyline-color: #CCCCCC; /* Part border */
    swt-shadow-visible: false;
    swt-simple: true;
    padding: 0;
    swt-corner-radius: 6;
}

/* For Testcase tab */
CTabFolder CTabFolder {
	swt-outer-keyline-color: #F6F6F6;/* Panel border, use same color as background */
	swt-tab-outline: #CCCCCC; /* Tabs border */
	swt-unselected-tabs-color: #F6F6F6;
}

#PerspectiveSwitcher  {
	eclipse-perspective-keyline-color: rgb(170, 176, 191) rgb(170, 176, 191);
}
