<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="com.kms.katalon.preferences.PreferencePages">      
      <page
            class="com.kms.katalon.engine.preferences.EnginePreferencePage"
            id="com.kms.katalon.engine.preference.engine"
            name="Engine">
      </page>
   	</extension>
   	
   	<extension
         point="com.kms.katalon.preferences.PreferencePages">      
      <page
      		category="com.kms.katalon.engine.preference.engine"
            class="com.kms.katalon.engine.preferences.HostPreferencePage"
            id="com.kms.katalon.engine.preference.host"
            name="Host">
      </page>
   	</extension>
   	
   	<extension
         point="com.kms.katalon.preferences.PreferencePages">      
      <page
      		category="com.kms.katalon.engine.preference.engine"
            class="com.kms.katalon.engine.preferences.RemoteCallPreferencePage"
            id="com.kms.katalon.engine.preference.remotecall"
            name="Remote Call">
      </page>
   	</extension>
   	
   	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.engine.preferences.HostPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.engine.preferences.RemoteCallPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
</plugin>
