<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.kms.katalon.composer.webui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension
         point="com.kms.katalon.preferences.PreferencePages">
      <page
            class="com.kms.katalon.composer.webui.execution.preferences.WebUiExecutionPreferencePage"
            id="com.kms.katalon.composer.webui"
            category="com.kms.katalon.composer.execution"
            name="Web UI">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kms.katalon.composer.webui.execution.preferences.WebUIExecutionPreferenceDefaultValueInitializer">
      </initializer>
   </extension>
   
   <extension
         point="com.kms.katalon.preferences.ProjectSettingPages">
      <page
            class="com.kms.katalon.composer.webui.setting.WebUiPerferencePage"
            id="com.kms.katalon.composer.webui.mainPage"
            name="Web Ui">
      </page>
      <page
            category="com.kms.katalon.composer.webui.mainPage"
            class="com.kms.katalon.composer.webui.setting.FirefoxPerferencePage"
            id="com.kms.katalon.composer.webui.page.firefox"
            name="Firefox">
      </page>
      <page
            category="com.kms.katalon.composer.webui.mainPage"
            class="com.kms.katalon.composer.webui.setting.ChromePreferencePage"
            id="com.kms.katalon.composer.webui.page.chrome"
            name="Chrome">
      </page>
       <page
            category="com.kms.katalon.composer.webui.mainPage"
            class="com.kms.katalon.composer.webui.setting.RemoteWebPreferencePage"
            id="com.kms.katalon.composer.webui.page.remoteweb"
            name="Remote Web">
      </page>
   </extension>

</plugin>
